{:paths ["src"]
 :deps {edn-query-language/eql {:mvn/version "1.0.0"}}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps
            {org.clojure/test.check {:mvn/version "1.1.0"}
             lambdaisland/kaocha {:mvn/version "1.0.700"}
             lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}
             com.wsscode/pathom {:mvn/version "2.3.0-alpha16"}}}}}
